<% content_for :title do %>
  作業用あすみん
<% end %>
<div id="title">
  <h3 class="title">作業用あすみん</h3>
</div>
<div id="player">
  <script type="text/javascript">
    <%= @script.html_safe %>
  </script>
<!--
  <script type="text/javascript" src="http://localhost/nico_ext_autoplay.php?URL=http://ext.nicovideo.jp/thumb_watch/<%= @id %>?w=490&h=307"></script>
-->
</div>

