DB_ASUMI_DEVELOPMENT:
DB_USERNAME:
DB_HOST: <%= ENV["MYSQL_PORT_3306_TCP_ADDR"] %>
AWS_SQS_ENDPOINT: <%= "http://#{ENV['FAKE_SQS_PORT_4568_TCP_ADDR']}:4568" %>

DEVELOPER_KEY:
TRUSTED_IP:

SLACK_WEBHOOK_URL: