.container{
    position: relative;
    z-index: 2;
    width: 982px;
    #main_area{
	z-index: 3;
	padding: 10px 20px 30px 20px;
	background: rgba(255, 255, 255, 0.7);
    }
}
.navbar-static-top{
    position: relative !important;
    .search_form{
	position: absolute;
	right: 0px;
	margin: 5px 0px 5px auto !important;
	.search_text{
	    background: rgba(50,50,50, 0.8);
	    color: rgb(240,240,240);
	}
	.search_btn{
	    margin-top: -10px;
	    background: rgb(0,0,0);
	    color: rgb(255,255,255);
	}
    }
}
.background{
    background: image-url("blur_back04-min.jpg") no-repeat center center fixed;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.center{
    text-align: center;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}

// color
.dark_blue{
    color: rgb(0,0,128);
}
.light_gray{
    color: rgb(211, 211,211);
}
.gray{
    color: rgb(128,128,128);
}

footer{
    margin: 10px 0 0 20px;
    a{
	color: rgba(0, 100, 255, 1.0);
    }
}

// display
.none{
    display: none;
}