#main{
    #fav{
	.top_new{
	    width: 580px;
	}
	table.recommend{
	    td{
		//display: inline-block;
		width: 290px;
		padding: 0 10px 45px 10px;
		vertical-align: top;
	    }
	    a{/*リンクされた文字*/
		color: rgb(0,0,0);
		font-style: normal;
		text-decoration: none;
	    }
	    a:link {/*未訪問のリンク*/
		color: rgb(0,0,0);
		font-style: normal;
		text-decoration: none;
	    }
	    a:visited {/*訪問後のリンク*/
		color: rgb(100,100,100);
		text-decoration: none;
	    }
	    a:hover {/*マウスをのせたとき*/
		color: rgb(100,100,100);
		font-style: normal;
		text-decoration: none;
	    }
	    a:active {/*クリック中*/
		text-decoration:none;
	    }
	    .movie{
		.key0{
		    font-size: 14px;
		    color: rgba(255, 165, 0, 1.0);
		    padding: 5px 0 5px 20px;
		    border-top: 4px solid rgba(255, 165, 0, 1.0);
		    border-bottom: 1px solid rgba( 230, 230, 230, 1.0);
		}
		.key1{
		    font-size: 14px;
		    color: rgba(30, 144, 255, 1.0);
		    padding: 5px 0 5px 20px;
		    border-top: 4px solid rgba(30, 144, 255, 1.0);
		    border-bottom: 1px solid rgba( 230, 230, 230, 1.0);
		}
		.key2{
		    font-size: 14px;
		    color: rgba(255, 105, 180, 1.0);
		    padding: 5px 0 5px 20px;
		    border-top: 4px solid rgba(255, 105, 180, 1.0);
		    border-bottom: 1px solid rgba( 230, 230, 230, 1.0);
		}
		.key3{
		    font-size: 14px;
		    color: rgba(0, 128, 128, 1.0);
		    padding: 5px 0 5px 20px;
		    border-top: 4px solid rgba(0, 128, 128, 1.0);
		    border-bottom: 1px solid rgba( 230, 230, 230, 1.0);
		}
		.key4{
		    font-size: 14px;
		    color: rgba(184, 134, 11, 1.0);
		    padding: 5px 0 5px 20px;
		    border-top: 4px solid rgba(184, 134, 11, 1.0);
		    border-bottom: 1px solid rgba( 230, 230, 230, 1.0);
		}
		    
		.count{
		    font-size: 20px;
		    font-weight: 500;
		}
		.title{
		    font-size: 16px;
		    font-weight: bold;
		    margin: 10px 5px 15px 5px;
		    line-height: 20px;
		    height: 40px;
		    overflow: hidden;
		}
		.detail{
		    padding-right: 10px;
		    padding-left: 5px;
		    .top_description{
			font-size: 13px;
			float: left;
			width: 380px;
			line-height: 1.5em;
			max-height: 12.0em;
			overflow: hidden;
		    }
		    .description{
			font-size: 12px;
			float: left;
			width: 145px;
			line-height: 1.5em;
			max-height: 12.0em;
			overflow: hidden;
		    }
		    .url_top{
			margin-top: 0;
			width: 180px;
			float: right;
		    }
		    .url{
			margin-top: 20px;
			width: 120px;
			float: right;
		    }
		}
	    }
	}
    }
}
