<div class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
      </a>
      <%= link_to("阿澄病なう", root_path, class: "brand") %>
      <div class="container nav-collapse">
	<ul class="nav">
	  <li><%= link_to "ランキング", patients_path  %></li>
	</ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
