<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Admin</a>
      <div class="container nav-collapse">
	<ul class="nav">
	  <li><%= link_to "Serifs", admins_serifs_path  %></li>
	  <li><%= link_to "Youtube", admins_youtubemovies_path %></li>
	  <li><%= link_to "Niconico", admins_niconicomovies_path %></li>
	</ul>
	<ul class="left">
	  <li><%= link_to "SignOut", destroy_admin_session_path, method: :delete %></li>
	</ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
