<div class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-search"></span>
      </a>
      <%= link_to("阿澄ちゃん", root_path, class: "brand") %>
      <div class="container nav-collapse">
        <%= form_tag(movies_path, :method => :get, :class=>"search_form") do |f| %>
          <div class="search_field">
            <%= text_field_tag :search, nil,:class=> "search_text",:placeholder => "動画検索" %>
            <%= submit_tag "検索", class: "btn search_btn" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
